.theme-button-first {
    margin-left: 10px;
    font-size: 24px;
    background-color: #055551;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    text-decoration: none;
}
.theme-button-first:hover {
    background-color: #187e79;
}
.theme-button-second {
    margin-left: 10px;
    font-size: 24px;
    background-color: #e6b7a5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    text-decoration: none;
}
.theme-button-second:hover {
    background-color: #db9579;
}

.default-button {
    background-color: #407099;
    color: #fff;
    font-size: 18px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
    margin: 50px 0;
    margin-left: 10px;
    transition: background-color 0.3s;
}
.default-button-second {
    background-color: #77aaac;
    color: #fff;
    font-size: 18px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
    margin: 50px 0;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.view-default-button {
    background-color: #407099;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-default-button-second {
    background-color: #77aaac;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-default-button:hover {
    background-color: #558ab8;
}
.view-default-button-second:hover {
    background-color: #9ec5c6;
}
.default-button:hover {
    background-color: #558ab8;
}
.default-button-second:hover {
    background-color: #9ec5c6;
}

.about-item-default-btn {
    background-color: #407099;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 50px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.about-item-default-btn:hover {
    background-color: #558ab8;
}
