.card_container {
    padding: 5px;
}
.container {
    height: calc(100vh - 130px);
}
.title {
    color: whitesmoke;
    font-size: 24px;
}
.titleSecond {
    color: #055551;
    font-size: 24px;
}

/* .cardContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
