.wrapper {
    height: calc(100vh - 130px);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
    margin-top: -40px;
}
.title {
    font-size: 34px;
    letter-spacing: 1px;
    color: whitesmoke;
}
.titleSecond {
    font-size: 34px;
    letter-spacing: 1px;
    color: #77aaac;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.inputContainer {
    margin-bottom: 20px;
}

.inputField {
    margin-top: 5px;
    width: 90%;
    padding: 20px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.inputField:focus {
    border-color: #007bff;
}

.error {
    margin-top: 5px;
    color: #dc3545;
}

.btn {
    background-color: #407099;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 26px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #0056b3;
}
.btnSecond {
    background-color: #77aaac;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 26px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.2s;
}

.btnSecond:hover {
    background-color: #9ec5c6;
}

.label {
    color: #407099;
    font-size: 22px;
    letter-spacing: 1px;
}
.labelSecond {
    color: #77aaac;
    font-size: 22px;
    letter-spacing: 1px;
}
