.container {
    padding: 20px 48px;
}

.table-container {
    overflow-x: auto;
}

h3 {
    color: whitesmoke;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table th {
    background-color: #e6b7a5;
    text-align: left;
    padding: 12px 16px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #e6b7a5;
    color: #407099;
}

.table tbody tr {
    border-bottom: 1px solid #e4bfb0;
}

.table td {
    padding: 12px 16px;
    color: whitesmoke;
}
